*{
    box-sizing:border-box;
}

.nav-bar ul
{
   padding:0px;
   background-color:green;
}
.nav-bar ul li{
  text-decoration:none;
  display:inline-block;
  padding:14 15px;
  color:white;
}

.logout{
    float:right;
}
