<div class="dev-row">
      <span>Developer</span>
      <div class="dev-col">
          <div class="card">
              <img src="wen_photo.jpg"></img>
              <div class="dev-content">
                  <h2>Wen</h2>
                  <p>Interest:MC Donload</p>
                  <button>Contact</button>
              </div>
          </div>
      </div>
      <div class="dev-col">
          <div class="card">
              <img src="moon_photo.jpg"></img>
              <div class="dev-content">
                  <h2>Vong Wai</h2>
                  <p>Interest:Running</p>
                  <button>Contact</button>
              </div>
          </div>
      </div>
</div>
