<!doctype>
<html>
  <head>
      <title>Home Page</title>
      <link rel="stylesheet" href="home.css" type="text/css"/>
  </head>

  <body>
      <div class="nav-bar">
          <div class="nav-header">
              <ul>
                  <li>Home</li>
                  <li>Content</li>
                  <li class="logout">Logout</li>
              </ul>
          </div>
          <div>
            <!--
          <form>
             <label>
             keyword:<input type="input">
            </label>
          </form>
        -->
          </div>
      </div>
      <ul>
        <% msg.forEach(function(item){ %>
          <li><%= item.usrname %></li>
        <%}); %>
      </ul>

  </body>
  <script>

  </script>
</html>
