<!doctype>
<html>
  <head>
      <title>Home Page</title>
      <link rel="stylesheet" href="home.css" type="text/css"/>
  </head>

  <body>
      <div class="nav-bar">
          <div class="nav-header">
              <ul>
                  <li>Home</li>
                  <li>Content</li>
                  <li class="logout">Logout</li>
              </ul>
          </div>
          <div>
          <!--
          <form>
             <label>
             keyword:<input type="input">
            </label>
          </form>
        -->
          </div>
      </div>
      <form action="/upload" method="post" enctype="multipart/form-data">
          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload">
          <input type="submit" value="Upload Image" name="submit">
      </form>
      <p>You have <%= data.onlinePeople %> friend online!</p>
      <ul>
        <% data.usrdata.forEach(function(item){ %>
          <li><%= item.usrname %></li>
        <%}); %>
      </ul>

  </body>

  <script>

  </script>
</html>
